<div>
    <nav>
        <h1>Dashboard</h1>
    </nav>
    <main>
        <p>Welcome to your dashboard!</p>
        <p>Here you can manage your settings, view your activity, and more.</p>
        <div class="server">
            <div class="server-info">
                <h2>Server Information</h2>
                <div class="ip-div">
                    <p>IP Address: <p id="ip-address-and-port"></p></p>
                </div>
            </div>
            <div class="server-commands">
                <h2>Commands</h2>
                <div class="server-command">
                    <button id="shutdown-btn">Shutdown server</button>
                    <button id="restart-btn">Restart server</button>
                    <button id="stat-nginx-btn">Nginx status</button>
                    <button id="restart-nginx-btn">Restart Nginx</button>
                    <button id="stat-jellyfin-btn">Jellyfin status</button>
                    <button id="restart-jellyfin-btn">Restart Jellyfin</button>
                </div>
                <div id="output-command">You can see the command output here...</div>
            </div>
            <div class="server-system">
                <h2>Check System</h2>
                <div class="server-sys">
                    <button id="srv-stat">Check Server Status</button>
                    <button id="chk-os">Check Os Info</button>
                    <button id="chk-cpu">Check CPU Info</button>
                    <button id="chk-disk">Check Disk Info</button>
                </div>
                <div id="output-system">You can see the system output here...</div>
            </div>
        </div>
    </main>
</div>

<script>
    import { get_base_url } from "../utils/api-base-url";
    import { shutdown_server, restart_server, get_nginx_status, restart_nginx, get_jellyfin_status, restart_jellyfin } from "../utils/server-command";
    import { get_server_os_info, get_server_status, get_cpu_info, get_disk_info } from '../utils/server-system';

    const ip_display = document.getElementById('ip-address-and-port') as HTMLParagraphElement;
    const shut_btn = document.getElementById('shutdown-btn') as HTMLButtonElement;
    const rest_btn = document.getElementById('restart-btn') as HTMLButtonElement;
    const stat_nginx_btn = document.getElementById('stat-nginx-btn') as HTMLButtonElement;
    const stat_jellyfin_btn = document.getElementById('stat-jellyfin-btn') as HTMLButtonElement;
    const output_div_command = document.getElementById('output-command') as HTMLDivElement;
    const output_div_system = document.getElementById('output-system') as HTMLDivElement;
    const chk_os_btn = document.getElementById('chk-os') as HTMLButtonElement;
    const srv_stat_btn = document.getElementById('srv-stat') as HTMLButtonElement;
    const rest_nginx_btn = document.getElementById('restart-nginx-btn') as HTMLButtonElement;
    const rest_jell_btn = document.getElementById('restart-jellyfin-btn') as HTMLButtonElement;
    const chk_cpu_btn = document.getElementById('chk-cpu') as HTMLButtonElement;
    const chk_disk_btn = document.getElementById('chk-disk') as HTMLButtonElement;

    ip_display.textContent = get_base_url();
    
    shut_btn.addEventListener('click', async () => {
        const data = await shutdown_server();
        if(!data) return;
        const {
            res_code,
            message
        } = data;

        output_div_command.textContent = `Response Code: ${res_code}\nServer: ${message}`;
    });
    rest_btn.addEventListener('click', async () => {
        const data = await restart_server();
        if(!data) return; 
        const {
            res_code,
            message
        } = data;

        output_div_command.textContent = `Response Code: ${res_code}\nServer: ${message}`;
    });
    stat_nginx_btn.addEventListener('click', async () => {
        const data = await get_nginx_status();
        if(!data) return;
        const {
            res_code,
            nginx_status
        } = data;

        output_div_command.textContent = `Response Code: ${res_code}\nNginx Status: ${nginx_status}`;
    });
    rest_nginx_btn.addEventListener('click', async () => {
        const data = await restart_nginx();
        if(!data) return;
        const {
            res_code,
            message_restart_nginx
        } = data;

        output_div_command.textContent = `Response Code: ${res_code}\nNginx Message: ${message_restart_nginx}`;
    });
    stat_jellyfin_btn.addEventListener('click', async () => {
        const data = await get_jellyfin_status();
        if(!data) return;
        const {
            res_code,
            jellyfin_status
        } = data;

        output_div_command.textContent = `Response Code: ${res_code}\nJellyfin Status: ${jellyfin_status}`;
    });
    rest_jell_btn.addEventListener('click', async () => {
        const data = await restart_jellyfin();
        if(!data) return;
        const {
            res_code,
            message_restart_jellyfin
        } = data;

        output_div_command.textContent = `Response Code: ${res_code}\nJellyfin Message: ${message_restart_jellyfin}`;
    })

    
    
    chk_os_btn.addEventListener('click', async () => {
        const data = await get_server_os_info();
        if(!data) return;
        const {
            res_code,
            platform,
            distro,
            release,
            kernel,
            arch
        } = data;

        output_div_system.textContent = `Response Code: ${res_code}\nPlatform: ${platform}\nDistro: ${distro}\nRelease: ${release}\nKernel: ${kernel}\nArchitecture: ${arch}`;
    });
    srv_stat_btn.addEventListener('click', async () => {
        const data = await get_server_status();
        if(!data) return;
        const { 
            res_code, 
            cpu_load, 
            os_distro, 
            memory_total, 
            memory_free, 
            memory_used, 
            disk_name, 
            disk_used, 
            disk_free, 
            disk_size 
        } = data;

        output_div_system.textContent = `Response Code: ${res_code}\nCPU Load: ${cpu_load}\nOS Distro: ${os_distro}\n---Memory---\nMemory Total: ${memory_total} GB\nMemory Free: ${memory_free} GB\nMemory Used: ${memory_used} GB\n---Disk---\nDisk: ${disk_name}\nDisk Used: ${disk_used} GB\nDisk Free: ${disk_free} GB\nDisk Total: ${disk_size} GB`
    });
    chk_cpu_btn.addEventListener('click', async () => {
        const data = await get_cpu_info();
        if(!data) return;
        const {
            res_code,
            manufacturer,
            brand,
            speed,
            cores,
            physicalCores
        } = data;

        output_div_system.textContent = `Response Code: ${res_code}\nCPU Brand: ${manufacturer} ${brand}\nCPU Speed: ${speed} GHz\nCPU Cores: ${cores}\nCPU Physical Cores: ${physicalCores}`;
    });
    chk_disk_btn.addEventListener('click', async () => {
        const data = await get_disk_info();
        if(!data) return;
        let {
            res_code,
            disk_type,
            disk
        } = data;

        if(disk_type === 'HD') {
           const type = 'Harddisk';
           disk_type = type;
        }

        output_div_system.textContent = `Response Code: ${res_code}\nDisk Type: ${disk_type}\nDisk: ${disk}`;
    })
</script>

<style>
    * {
        padding: 0;
        margin: 0;
    }

    nav {
        background: rgb(10, 15, 44);
        color: rgb(215, 218, 223);
        border-bottom: 1px solid whitesmoke;
        padding: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main {
        padding: 16px;
        color: rgb(215, 218, 223);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .server {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .server-info {
        margin-top: 16px;
        background: rgb(21, 24, 34);
        border: 1px solid whitesmoke;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    h2::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: whitesmoke;
        margin-top: 4px;
    }

    .ip-div {
        display: flex;
        gap: 8px;
    }

    .server-commands, .server-system {
        background: rgb(21, 24, 34);
        border: 1px solid whitesmoke;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        word-break: break-all;
    }

    button {
		background: rgb(10, 16, 60);
		color: white;
		border: 1px solid rgb(104, 105, 103);
		padding: 4px;
        margin: 2px 0;
	}

	button:hover {
		cursor: pointer;
		color: aquamarine;
		background: rgb(104, 105, 103);
		border: 1px solid rgb(10, 16, 60);
	}

    #output-command, #output-system {
        background: rgb(10, 15, 44);
        border: 1px solid whitesmoke;
        padding: 8px;
        margin-top: 8px;
        height: 100px;
        overflow-y: auto;
        white-space: pre-wrap;
        font-family: monospace;
    }
</style>